<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.songlcy.rnupgrade" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <provider
            android:name=".FileProviderAdapter"
            android:authorities="${applicationId}.updateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_provider" />
        </provider>

        <service
            android:name=".DownloadService"
            android:exported="true" />
    </application>

</manifest>
